@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply mx-auto max-w-screen-xl px-8 pb-4 font-sans xs:text-[16px] md:text-[18px];
}

:root {
  --color-text: #213547;
  --color-link: #213547;
  --color-background: #ffffff;
  --color-heading: #213547;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}

/* Dark mode styles */
.dark {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-link: rgba(255, 255, 255, 0.87);
  --color-background: #242424;
  --color-heading: rgba(255, 255, 255, 0.87);
}

body.dark {
  color: var(--color-text);
  background-color: var(--color-background);
}
